
html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}


pre {
    background: #f3f2f2;
    counter-reset: line;
}

pre span {
    display: block;
    line-height: 1.3em;
}

pre span:nth-child(even) {
    background: #f8f8f8;
}

pre span:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    min-width: 1.5em;
    border-right: 1px solid #ddd;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-right: 0.5em;
    text-align: right;
    color: rgb(90, 167, 107);
}

.left-pane, .right-pane {
    flex: 1;
    width: 500px;
    padding: 20px;
}


.comment {
    color: #999;
    font-size: 12px;
    font-style: italic;
}

.video-container {
    height: 0;
    transition: height 0.5s ease-in-out;
}

.video-container.show {
    height: 200px;
}